@font-face {
  font-family: 'Nauman';
  src: local('MyFont'), url(./font/Nauman_Regular_Regular.otf) format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

img {
  opacity: 0.5;
}

.contact-container {
  float: right;
  font-size: 14px;
  margin-right: 20px;
}

#services {
  height: 400px;
  color: white;
  background-color: #767676;
}

#contact {
  height: 400px;
  color: white;
  background-color: #767676;
}